{
  "plugins": ["lodash"],
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": [ ">1%" ]
      }
    }]
  ]
}
