/node_modules

/build/*
!/build/.gitkeep
/dev/*
!/dev/options.html
!/dev/popup.html
!/dev/backgournd.js

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*