@import '../style/variables.css';

html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100% !important;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-top: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 300px;
  text-align: left;
  font-size: 14px;
}

#save {
  width: 300px;
  padding: 0;
  margin-bottom: 10%;
  margin-top: 20px;
}

.input {
  font-family: 'consolas';
  width: 300px;
  text-align: center;
  border: 0;
  border-bottom: 2px solid var(--primary);
  height: 30px;
  font-size: 24px;
  outline: none;
}
