.wrapper {
  height: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .input {
    margin-bottom: 20px;
  }

  .filename {
    margin-bottom: 0;
  }

  .collapse {
    margin-bottom: 20px;
  }

  .panel {
    border: 0;
  }

  img {
    height: 100px;
    width: 100px;
    align-self: center;
    margin-bottom: 20px;
  }
}