.button {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0 20px;
  border-radius: 200px;
  background-color: #7b72e9;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.3s;
  transition-property: background-color;
}

.button:hover {
  background: #a49ef0;
}

.button:hover .close {
  opacity: 1;
}

.button:disabled:hover {
  background: gray;
}

.button:disabled {
  transition: none;
  background: gray;
  cursor: not-allowed;
}

.button:disabled .close {
  display: none;
}

.close {
  opacity: 0;
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.3s;
  transition-property: opacity;
}
