.wrapper {
  height: 100%;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .setting {
    width: 100%;
    height: 600px;
  }
}
